*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:Helvetica;
}

.first-nav{
    background-color: #0E0E0E;
    color:#FFFFFF
}

.navbar-menu-list .navbar-list{
    display: inline-block;  
}

.navbar-menu-list .navbar-link:hover{
text-decoration: none;
color: #0E0E0E;

}
.navbar-link{
    color:#0E0E0E;
    font-size: 1.6rem;
    padding: 5px;
}


.first-nav .navbar-menu-list .navbar-link{
    color:#FFFFFF;
}

.first-nav .navbar-menu-list .parent{
    color:#CC9933;
}

.navbar-box{
    margin-top: 3%;
}

.navbar-apply-button-box{
    background-color: #009631;
}

.nav-apply-button{
color:#EDEDED;
position: absolute;
margin-top: 35%;
font-size: 1.4rem;
font-weight: 700;
cursor: pointer;
}

.nav-apply-button:hover{
    text-decoration: none;
    color:#EDEDED;
}
.navbar_menu-list .navbar-lists{
    color: #CC9933;
}

.fpi_logo{
    display: flex;
    justify-content: space-between;
}
.navbar_logo{
    padding-top: 30px;
}

.apply-now-box{
    color: white;
    padding: 4px;
    border: 1px solid red;
    background-color: #009631;
    display: inline-block;
    height: 40px;
}
 .header_button{
    list-style-type: none;
}
.pic-back{
       background-image: url(../images/Rectangle\ 5.png);
       background-size: cover;
       background-repeat: no-repeat;
       height: 800px;
}
.welcome{
    color: white;
    position: absolute;
    top: 32%;
    right: 50%;
    width: 600px;
    
}

.welcome-text{
    font-size: 3rem;
}
.welcome-paragraph{
    font-size: 1.8rem;
    color:#0E0E0E;
}
.welcome h2{
    font-size: 5rem;
    background-color:#009631 ;
    padding: 10px;
}

.principal-box{
    margin-top: 10%;
    margin-bottom: 10%;
}
.pic h2{
    font-size: 20px;
}
.pic h3{
    color: #009631;
}
.pic h4{
    font-size: 15px;
}
.pic button{
    background-color: #CC9933;
    border: none;
    padding: 20px;
}

.apply-text{
    font-size: 1.8rem;
    text-decoration: underline;
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 700;
    background-color: #CC9933;
}

.apply-arrow{
    margin-left:10px;
}
.apply-button{
    margin-top: 3%;
    background-color: #CC9933;
}

.principal-img{
width:100%;
display: block;
height: 100%;
object-fit: cover;
}
.apply-addmission-div{
    background-image:url(../images/Rectangle11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
}

.addmission{
    padding-top: 6%;
}
.school{
    max-width: 40%;
    height: 40%;
}

.first-img{
    position: relative;
    height: 300px;
    width: 400px;
    z-index:1;
}
.second-img{
    position: absolute;
    top: 21%;
    right: 15%;
    height: 174px;
    width: 280px;
    z-index:2;
    border:1px solid goldenrod;
}
.third-img{
    position: relative;
    top: -160px;
    left: 14%;
    height: 229px;
    width: 300px;
    z-index:3;

}

.admission-paragraph{
    font-size: 1.6rem;
    
}
.apply-now{
    padding-top: 5%;
    color: #fff;
    width: 330px;
    color: #EDEDED;
}
.apply-now button{
 background-color: #CC9933;
    border: none;
    padding: 20px;   
}

.our-achievement-box{
     background: #0E0E0E;
}


.content-heading-main{
    font-size: 5rem;
    position:relative; 
    z-index: 1;
}

.content-heading-sub{
    position:absolute; 
    z-index: 2;
    right: 43%;
    font-size: 2rem;
    top: 35%;
    color: #FFFFFF;
}

.best-school-box{
    margin: px;
}

.best-school-heading{
    color: #009631;
    width: 282px;
    font-size: 2.6rem;
    line-height: 30px;
    font-weight: 400;
    
}
.best-school-paragraph{
    width: 282px;
    color:#FFFFFF;
    font-size: 1.8rem;
    height: 300px;
    padding-right: 20px;
}

.best-school-box{
    height:300px;
    display: flex;
    margin-bottom: 10%;
}

.vector-logo{
    display: block;
    height: 20%;
    display: block;
}

.text-main{
    color: rgba(196, 196, 196, 0.17);

}
.text-sub{
    color: #0E0E0E;

}
.video-container{
    background-color: #EDEDED;
}

.video-content-box{
    width: 50%;
    margin: auto;
    height: 258px;
    margin-bottom: 15%;
}

.video-main{
    position: relative;
    z-index:2;
    right:0%;
    width: 100%;
    top:-17%;

}

.video-content-box{
    margin-top: 8%;
    margin-bottom: 8%;
}


.new-content-box{
    font-family: Helvetica;
}
.news-image{
width: 100%;
background-size: cover;
}

.news-heading-text{
width: 385px;
font-size: 1.7rem;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.02em;
text-align: left;

}
.news-date{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;

}

.news-paragraph-text{
    width: 385px;
    padding-right: 35px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: justified;
}

.footer{
        background-color: rgba(0, 150, 49, 1);
        color:#FFFFFF;
        font-family: Helvetica;
        margin-top: 7%;
}

.footer-content-container{
    margin-top: 7%;

}

.address.logo{
    width: 30px;
    height: 30px;
}
.address-text{
    height: 35px;
    width: 263px;
    left: 122px;
    top: 4535px;
    border-radius: 0px;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;

    
}
.address-text{
    display:block
}
.social-media-logo{
    width: 19.53px;
    margin: 10px;
}

.footer-list-heading{
font-size: 1.8rem;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;
}

.footer-lists{
    list-style-type: none;
}
.footer-list-link{
    color:#FFFFFF;
font-size: 1.6rem;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.02em;
text-align: justified;
padding: 10px;
}
.footer-list-link:hover{
    text-decoration: none;
}
.copyright-box{
    background: rgba(6, 6, 6, 1);
    font-size: 1.6rem;
}


/* ===================================media query start here==================================== */
@media screen and (max-width:1024px){
    .first-img{
        height: 300px;
        width: 300px;
    }
    .third-img{
        width:210px;
    }
}

@media screen and (max-width:990px){
    .welcome-paragraph{
        font-size: 1.4rem;
    }
    .principal-img{
        object-fit:none;
        height: initial;
    }

    .first-img{
        width: 270px;
    }
    .second-img{
        width: 202px;
        top:18%;
        right: 10%;
    }
    .third-img{
        width:200px;
    }
    .best-school-content{
        padding-left: 3px;
    }

    .admission-paragraph{
        font-size: 1.4rem;
        
    }

    .best-school-heading{
        width: 158px;
        font-size: 1.8rem;
    }

    .best-school-paragraph{
        width: 230px;
        font-size: 1.5rem;
    }

    .play-icon{
        width: 70px;
        right:46% ;
        margin-top:-18%;
    }

    .news-heading-text{
        width: 280px;
        font-size: 1.4rem;
    }

    .news-paragraph-text{
        width: 260px;
    }
}

@media screen and (max-width:900px){

}
@media screen and (max-width:768px){
.pic-back{
    height: 388px;
}

.news-paragraph-text{
    width:210px;
    font-size: 1.6rem;
    padding-right: 1px;
}

.welcome{
    top:23%;
    right: 51%;
}

.welcome h2{
    font-size: 3rem;
}
 .best-school-paragraph{
    width: 178px;
    font-size: 1.4rem;
    
 }

 .content-heading-sub{
     right: 39%;
 }

.news-heading-text{
    width: 210px;
}
}


@media screen and (min-width:768px){
    .hamburger-icon,.overlay,.mobile-socialmedia,.mobile-seealldiv{
        display: none;
    }

}
@media screen and (max-width:767px){
    .lists,.second-nav,.navbar-apply-button-box{
        display: none;
    }
  
.hamburger-icon{
      display: block;
      right:5%;
      position: absolute;
    }
    /* styling of full overlay nav start here */
    .polycollege-logo{
        position: absolute;
        left:6%;
    }
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: hsl(0, 0%, 0%);
        background-color: hsl(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      } 
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 30%;
        text-align: center;
        margin-top: -36px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: hsl(0, 0%, 100%);
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .closeNav{
        position: absolute;
        top: 8%;
        right: 45px;
      }

      .polycollege-logo{
          width: 200px;
      }
    /* styling of full overlay nav stop here */
    .text-right{
        text-align: center !important;
    }

    .welcome{
        right: 47%;
        width: 341px;
    }
    .principal-box{
        display: flex;
        flex-direction: row;
    }

    .principal-pic{
        order: -1;
    }

    .addmission-div{
        text-align: center;
    }

    .first-img{
        height: 280px;
    }
    .second-img{
        top:17%;
        right:14%;
    }

    .third-img{
        left:2%;
        height: 200px;
    }

    .best-school-heading{
        width: 206px;
    }
   
    .best-school-paragraph{
        width: 264px;
        height: 150px;
        padding-right:2px;
    }

    .best-school-box{
        margin-top: 4%;
    }

    .best-school-container{
       margin-left: 10%;
    }

    .second-best-div,.third-best-div{
        margin-top: -20%;

    }
    .second-best-div{
        margin-left: -4%;
    }

    .new-content-box{
        margin-top: 10%;
    }
    .addmission{
        margin-top:0%;
    }

    .apply-now{
       top:346%;
        color: #FFFFFF;
        position: absolute;
        width: 73%;
        margin:0 auto;
    }

    .apply-addmission-div{
        height: 750px;
    }



    .our-achievement-box{
        margin-top: 10%;
    }
    .news-heading-text,.news-date,.news-paragraph-text{
        width: 400px;
        margin: 0 auto;
    }
    .news-text-box{
        margin:0 auto;
        /* width: 50%; */
    }

    .footer-address-content{
        margin:0 auto;
        width: 50%;
    }

    .social-media-box{
      margin-left: 33%;
    }

   .address-circle .address.logo{
        height: 200px;
        width: 150px;
    }

    .footer-content-container{
        text-align: center;
    }

    .footer-list-heading{
        margin-bottom:-5%;
    }

    .footer-lists{
                margin-top: -10%;
    }

    .footer-heading-bottom{
        margin-top: 4%; 
    }
    .video-main{
        top:-29%;
        height: 235px;
    }

}

@media screen and (max-width:600px){
    .main-logo{
        width: 224px;
    }
    
    .hamburger-icon{
        top: 6%;
    }
    
    .welcome{
        right: 38%;
    }
    
    .apply-now{
        top: 341%;
        width: 92%;
    }
    .address-paragraph{
        text-align: center;
    }
    .our-achievement-box{
        margin-top: 0%;
    }
    .welcome-logo{
        margin-top: 6%;
    }

}


@media screen and (max-width:425px){
    .hamburger-icon{
        top: 8%;
    }

    .welcome{
        right: 19%;
    }

    .pic-back{
        height: 206px;
    }
    .welcome-text{
        font-size: 1.8rem;
    }

    .welcome h2{
        font-size: 1.8rem;
        width: 226px;
    }

    .second-img{
        right: 10%;
    }

    .apply-now{
        top:290%;
        width: 100%;
    }

    .apply-addmission-div{
        height: 815px;
    }

    .content-heading-sub{
        right: 34%;
    }
    .address-paragraph{
        text-align: left;
    }
    .welcome-logo{
        width: 300px;
    }
    .polycollege-logo{
        width: 148px;
    }
    .closeNav{
        top: 6%;
    }
 
}
@media screen and (max-width:375px){
    .welcome{
    right:5%;
    }
    .apply-addmission-div{
        height: 870px;
    }
    .best-school-paragraph{
        width: 232px;
    }

    .news-heading-text,.news-paragraph-text{
        width: 345px;
    }  
    .content-heading-main{
        font-size: 4rem;
        top: 32%;

    }

    .content-heading-sub{
        right: 29%;
        top: 54%;
    }
    .news-date{
        width: 300px;
        margin-left:0%;
    }
    .best-school-paragraph{
        padding-right: -4px;
    }

}
@media screen and (max-width:320px){
    .main-logo{
        width: 180PX;
    }
    .welcome{
        width: 200px;
        right: 33%;
    }
    .welcome-logo{
        width: 255px;
    }
    .building-box{
        left: 0;
        width: 300px;
    }

    .first-img{
        height: 200px;
        right: 7%;
        width: 200px;
    }
    .second-img{
        right: 6%;
        top: 16%;
        height: 112px;
       
        
    }
.third-img{
  
     top: -101px;
     height: 150px;
     width: 160px;
         margin-left:-16%;
}

    .apply-addmission-div{
       height: 900px
    }
    
    .building-box{
        height: 300px;
    }

    .apply-now{
        top: 277%;
    }
    .content-heading-sub{
        right: 29%;
    }

     .video-sub{
        right: 35%;
    }

    .best-school-container{
        margin-left: -5%;
    }
    .best-school-paragraph{
       padding-right: 56px;
    }

    .news-heading-text{
        width: 280px;
    }
    .news-paragraph-text{
        width: 280px;
        padding-right: 3px;    
    }
    .news-date{
        width: 285px;
    }
   
    .address-text{
           width: 200px;
    }
}