*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:Helvetica;
}

.first-nav{
    background-color: #0E0E0E;
    color:#FFFFFF
}

.navbar-menu-list .navbar-list{
    display: inline-block;  
}

.navbar-menu-list .navbar-link:hover{
text-decoration: none;
color: #0E0E0E;

}
.navbar-link{
    color:#0E0E0E;
    font-size: 1.6rem;
    padding: 5px;
}


.first-nav .navbar-menu-list .navbar-link{
    color:#FFFFFF;
}

.first-nav .navbar-menu-list .parent{
    color:#CC9933;
}

.general-nav{
    border: 1px solid green;
}

.navbar-box{
    margin-top: 3%;
}

.navbar-apply-button-box{
    background-color: #009631;
}

.nav-apply-button{
color:#EDEDED;
position: absolute;
margin-top: 35%;
font-size: 1.4rem;
font-weight: 700;
cursor: pointer;
}

.nav-apply-button:hover{
    text-decoration: none;
    color:#EDEDED;
}
.navbar_menu-list .navbar-lists{
    color: #CC9933;
}

.fpi_logo{
    display: flex;
    justify-content: space-between;
}
.navbar_logo{
    padding-top: 30px;
}












.apply-now-box{
    color: white;
    padding: 4px;
    border: 1px solid red;
    background-color: #009631;
    display: inline-block;
    height: 40px;
}
 .header_button{
    list-style-type: none;
}
.pic_back{
       background-image: url(../images/Rectangle\ 5.png);
       background-size: cover;
       background-repeat: no-repeat;
       height: 800px;
}
.welcome{
    color: white;
    padding-top: 200px;
    padding-left: 100px;
}

.welcome-text{
    font-size: 3rem;
}
.welcome-paragraph{
    font-size: 1.6rem;
}
.welcome h2{
    /* border: 2px solid red; */
    width: 50%;
    font-size: 40px;
    background-color:#009631 ;
}
.read{
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: flex;
}
.pic h2{
    font-size: 20px;
}
.pic h3{
    color: #009631;
}
.pic h4{
    font-size: 15px;
}
.pic button{
    background-color: #CC9933;
    border: none;
    padding: 20px;
}

.apply-text{
    font-size: 1.8rem;
    text-decoration: underline;
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 700;
}

.apply-arrow{
    margin-left:10px;
}

.principal-pic{
    padding-right: 90px;
    padding-left: 60px;
}
.apply-admission-div{
    background-image:url(../images/Rectangle11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
}
.admission{
    padding-left: 90px;
    padding-top: 60px;
}
.school{
    max-width: 40%;
    height: 40%;
}

.first-img{
    position: relative;
    height: 300px;
    width: 400px;
    z-index:1;
}
.second-img{
    position: absolute;
    top: 19%;
    right: 2%;
    height: 174px;
    width: 280px;
    z-index:2;
    border:1px solid goldenrod;
}
.third-img{
    position: relative;
    top: -168px;
    left: 14%;
    height: 229px;
    width: 300px;
    z-index:3;

}

.admission-paragraph{
    font-size: 1.6rem;
}
.apply_now{
    padding-top: 5%;
    color: #fff;
    width: 330px;
}
.apply_now button{
 background-color: #CC9933;
    border: none;
    padding: 20px;   
}

.our-achievement-box{
     background: #0E0E0E;
}


.content-heading-main{
    font-size: 5rem;
    position:relative; 
    z-index: 1;
}

.content-heading-sub{
    position:absolute; 
    z-index: 2;
    right: 43%;
    font-size: 2rem;
    top: 35%;
    color: #FFFFFF;
}

.best-school-box{
    margin: px;
}

.best-school-heading{
    color: #009631;
    width: 282px;
    font-size: 2.6rem;
    line-height: 30px;
    font-weight: 400;
    
}
.best-school-paragraph{
    width: 282px;
    color:#FFFFFF;
    font-size: 1.8rem;
    height: 300px;
    padding-right: 20px;
}

.best-school-box{
    height:300px;
    display: flex;
    margin-bottom: 10%;
}

.text-main{
    color: rgba(196, 196, 196, 0.17);

}
.text-sub{
    color: #0E0E0E;

}
.video-container{
    background-color: #EDEDED;
}

.video-content-box{
    border: 1px solid green;
    width: 50%;
    margin: auto;
    height: 300px;
}

.video-headings{
    font-weight: 700;
    color: rgba(0, 0, 0, 1);

}
.video-text{
    font-weight: 400;
}

.video-text{
    color:rgba(196, 196, 196, 0.17);
    font-weight: bold;
}

.new-content-box{
    font-family: Helvetica;
}
.news-image{
width: 100%;
background-size: cover;
}

.news-heading-text{
width: 385px;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.02em;
text-align: left;

}
.news-date{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;

}

.news-paragraph-text{
    width: 385px;
    padding-right: 35px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: justified;
}

.footer{
        background-color: rgba(0, 150, 49, 1);
        color:#FFFFFF;
        font-family: Helvetica;
        margin-top: 7%;
}

.footer-content-container{
    margin-top: 7%;

}

.address.logo{
    width: 30px;
    height: 30px;
}
.address-text{
    height: 35px;
    width: 263px;
    left: 122px;
    top: 4535px;
    border-radius: 0px;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;

    
}
.address-text{
    display:block
}
.social-media-logo{
    width: 19.53px;
    margin: 10px;
}

.footer-list-heading{
font-size: 1.8rem;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.02em;
text-align: justified;
}

.footer-lists{
    list-style-type: none;
}
.footer-list-link{
    color:#FFFFFF;
font-size: 1.6rem;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.02em;
text-align: justified;
padding: 10px;
}
.footer-list-link:hover{
    text-decoration: none;
}
.copyright-box{
    background: rgba(6, 6, 6, 1);
    font-size: 1.6rem;
}



/* ===================================media query start here==================================== */
@media screen and (max-width:1024px){
    body{
        /* background-color:red; */
        /* display: none; */
    }
    .news-update-box{
        display:none;
    }
    .our-achievement-box{
        display:none;
    }
}

@media screen and (max-width:990px){
}
@media screen and (max-width:900px){
}
@media screen and (max-width:768px){
}
@media screen and (max-width:767px){
}
@media screen and (max-width:600px){
}
@media screen and (max-width:425px){
}
@media screen and (max-width:375px){
}
@media screen and (max-width:320px){
    
}